<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lenovoq.skripsiq">

    <application
        android:name=".Volley.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="APsen"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Login"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivityMhs"
                  android:screenOrientation="portrait"/>
        <activity android:name=".MainActivityPengajar"
                  android:screenOrientation="portrait"/>
        <activity android:name=".JadwalDsn.JadwalDosen"
                android:parentActivityName=".MainActivityPengajar"/>
        <activity android:name=".JadwalMhs.JadwalMhs"
            android:parentActivityName=".MainActivityMhs"/>
        <activity android:name=".About"/>
        <activity android:name=".Help.Help"/>
        <activity android:name=".Presensi.PDCheck"/>
        <activity android:name=".Presensi.PresensiDosen"/>
        <activity android:name=".Presensi.BeritaAcara"/>
        <activity android:name=".WifiDirect.Wifi_Main"/>
        <activity android:name=".History.History_Dsn"/>
        <activity android:name=".JadwalMhs.History_Mhs"/>
        <activity android:name=".WifiDirect.Wifi_Main_mhs"/>
        <activity android:name=".History.Rekapan_History"/>
        <activity android:name=".JadwalMhs.Rekap_Mhs"/>
        <activity android:name=".WifiDirect.Ambik_Device"/>
        <activity android:name=".WifiDirect.MatkulDosen"/>
        <activity android:name=".WifiDirect.Daftar_Mhs"/>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-feature android:name="android.hardware.wifi.direct" android:required="true"/>

</manifest>